{% extends 'security_layout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="lr-right" style="margin-top: 50px;">
        <h4>{% trans %}Creer un compte{% endtrans %}</h4>
        <div class="login-register-form">
            {{ form_start(form)}}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show wow bounceOutUp">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

                {% if app.user %}
                    <div class="mb-3">
                        {% trans %}You are logged in as {% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </div>
                {% endif %}
                <div class="form-group username-input">
                    {{ form_widget(form.username) }}
                    <span title="Veuillez entrer un nom utilisateur sans espace"></span>
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                {{ form_rest(form)}}
                <button class="login-btn" type="submit">{{'security.SiginIn'|trans}}</button>
                <div class="login-link">{% trans %} Vous avez deja un compte {% endtrans %} <a href="{{ path('app_login') }}">{% trans %}Connectez-vous{% endtrans %}</a></div>
            {{ form_end(form)}}

        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .username-input span{
            display: block;
        }
        .username-input input ~ span:after{
            content: attr(title);
            color: red;
            opacity: 0;
            visibility: hidden;
            transition: 1s 1s opacity linear;
            font-size: 0.8em;
            font-style: italic;
        }
        .username-input input:invalid ~ span:after{
            visibility: visible;
            opacity: 1;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function verif(evt) {
            var keyCode = evt.which ? evt.which : evt.keyCode;
            var accept = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
