{% extends 'base.html.twig' %}

{% block title %}{{activite.title ? activite.title : 'Zochi'}}{% endblock %}

{% block body %}
    <main class="dashboard-mp">
        {{ render(url('windows_bloc_entete')) }}
        <div class="dash-tab-links">
            <div class="container">
                <div class="mb-20">
                    <div class="row">
                        {{ render(url('windows_bloc_gauche')) }}
                        <div class="col-lg-9">
                            <div class="main-posts">
                                <div class="activity-posts">
                                    <div class="activity-group1">
                                        <div class="main-user-dts1">
                                            <img src="{{ absolute_url(asset('assets/images/avatar.png')) }}" alt="">
                                            <div class="user-text3">
                                                <h4>{{activite.user.username|title}}</h4>
                                                <span>Publié le {{ activite.createdAt|date('d/m/Y')}} à {{ activite.createdAt|date('H:i:s')}}</span>
                                            </div>
                                        </div>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <div class="dot-option dropdown">
                                                <span class="dropdown-toggle-no-caret" role="button"
                                                      data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
                                                <div class="dropdown-menu post-rt-dropdown dropdown-menu-right">
                                                    <a class="post-link-item"
                                                       href="{{ path('activite_edit', {'id': activite.id}) }}">Modifier</a>
                                                    {{ include('activite/_delete_form.html.twig') }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="activity-descp">
                                       <div class="text-center">
                                           {% if (activite.mediaType == 'image') %}
                                               <a href="#" data-toggle="modal" data-target="#mediaModal">
                                                   <img src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" alt="{{ activite.title }}" class="img-fluid">
                                               </a>
                                           {% else %}
                                               <video controls class="embed-responsive embed-responsive-16by9">
                                                   <source src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" class="embed-responsive embed-responsive-16by9">
                                                   Désolé la video ne peut pas être lu
                                               </video>
                                           {% endif %}
                                       </div>

                                        <h6 id="#{{ activite.id }}" data-toggle="modal" data-target="#mediaModal">{{ activite.title}}</h6>
                                        <p class="text-justify">{{ activite.description }}</p>
                                        <div class="sharethis-inline-share-buttons mt-5"></div>
                                    </div>
                                    <div class="like-comment-view">
                                        <div class="left-comments">
                                            <a href="#" class="like-item lc-left" title="Commentaire">
                                                <i class="fas fa-comment-alt"></i>
                                                {% if activite.commentaires|length < 2 %}
                                                    <span><ins>Commentaire</ins> {{ activite.commentaires|length }} </span>
                                                {% else %}
                                                    <span><ins>Commentaires</ins> {{ activite.commentaires|length }} </span>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="right-comments">
                                            <a href="#" class="like-item" title="Share">
                                                <i class="fas fa-eye"></i>
                                                {% if activite.vue %}
                                                    <span><ins>Vues</ins> {{ activite.vue }} </span>
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-comments">
                                <div class="blog-post-comment" id="#commentaires">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <div class="add-activity">
                                            {{ form_start(form) }}
                                                <div class="activity-group">
                                                    <div class="maine-activity-img">
                                                        {% if utilisateur %}
                                                            <img src="{{ absolute_url(asset('upload/avatars/' ~ utilisateur.avatar)) }}"
                                                                 alt="{{ utilisateur.nom }} {{ utilisateur.prenoms }}">
                                                        {% else %}
                                                            <img src="{{ asset('assets/images/avatar.png') }}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    {{ form_widget(form.contenu) }}
                                                </div>
                                                <div class="activity-button">
                                                    {{ form_widget(form) }}
                                                    <button class="act-btn-post">{{ button_label|default('form.btnComment'|trans) }}</button>
                                                </div>
                                            {{ form_end(form) }}
                                        </div>
                                    {% else %}
                                        <div class="blog-post-bg">
                                            Veuillez-vous connecter pour ajouter votre commentaire <a href="{{ path('activite_show', {'id': activite.id}) }}" class="">Connexion</a>
                                        </div>
                                    {% endif %}
                                    {% for commentaire in activite.commentaires %}
                                        <div class="activity-posts">
                                            <div class="activity-group1">
                                                <div class="main-user-dts1">
                                                    <img src="{{ asset('assets/images/avatar.png') }}" alt="">
                                                    <div class="user-text3">
                                                        <a href="{{ path('utilisateur_show', {'user': commentaire.user.username}) }}"><h4>{{ commentaire.user.utilisateur.prenoms }} {{ commentaire.user.utilisateur.nom|title }}</h4></a>
                                                        <span>{{ commentaire.createdAt|date('d-m-Y H:i:s')}}</span>
                                                    </div>
                                                </div>
                                                <div class="dot-option dropdown">
                                                    <span class="dropdown-toggle-no-caret" role="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></span>
                                                    <div class="dropdown-menu post-rt-dropdown dropdown-menu-right">
                                                        <a class="post-link-item" href="#">Modifier</a>
                                                        <a class="post-link-item" href="#">Supprimer</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="activity-descp">
                                                <p>{{ commentaire.contenu|raw}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            {{ render(url('windows_bloc_droit')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% if (activite.mediaType == 'image') %}
                        <img src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" alt="{{ activite.title }}" class="img-fluid">
                    {% else %}
                        <video controls class="embed-responsive embed-responsive-16by9">
                            <source src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" class="embed-responsive embed-responsive-16by9">
                            Désolé la video ne peut pas être lu
                        </video>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
