{% extends 'base.html.twig' %}

{% block title %}Hello MonitoringController!{% endblock %}

{% block body %}
 <main class="dashboard-mp">
  {{ render(url('windows_bloc_entete')) }}
  <div class="dash-tab-links">
   <div class="container">
    <div class="mb-20">
     <div class="row mb-20">
        <div class="col-lg-4 offset-lg-4 text-center">
         <form action="{{ path('monitoring') }}" method="post" class="form-inline">
          <div class="row">
           <div class="col-10">
            <input type="text" name="search" class="payment-input datepicker-here my-1" data-language="fr" autocomplete="off">
           </div>
           <div class="col-2">
            <button class="btn btn-warning my-1">OK</button>
           </div>
          </div>
         </form>

        </div>
     </div>
     <div class="row">
      <div class="col-lg-12">
       <div class="main-posts">
        <table id="participants" class="table table-striped table-bordered">
         <thead>
         <tr>
          <td>ID</td>
          <td>Date</td>
          <td>Modules</td>
          <td>Utilisateur</td>
          <td>Actions</td>
          <td>Adresse IP</td>
         </tr>
         </thead>
         <tbody>
         {% for fichier in fichiers %}
          <tr>
           <td>{{ loop.index }}</td>
           <td>{{ fichier.datetime.date|date('H:i:s') }}</td>
           <td>{{ fichier.context.module }}</td>
           <td><a href="{{ path('utilisateur_show', {'user': fichier.context.username}) }}">{{ fichier.context.username }}</a></td>
           <td class="text-left">{{ fichier.message }}</td>
           <td class="text-center">
            <a href="http://api.ipstack.com/{{ fichier.context.ip }}?access_key=8946a56d682403bfecc9ebec65979610" target="_blank">
             {{ fichier.context.ip }}
            </a>

           </td>
          </tr>
         {% endfor %}
         </tbody>
        </table>
       </div>
       <div class="mt-5 mb-5">.</div>

      </div>
     </div>
    </div>
   </div>
  </div>
 </main>
{% endblock %}
{% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
 <link rel="stylesheet" href="{{ asset('assets/css/datepicker.min.css') }}">
{% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
 <script src="{{ asset('assets/js/datepicker.min.js') }}"></script>
 <script src="{{ asset('assets/js/i18n/datepicker.fr.js') }}"></script>
 <script>
  $(document).ready(function() {
   $('#participants').DataTable();
  } );
 </script>
{% endblock %}
