{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Modification de mot de passe {% endblock %}
{% block body %}
    <main class="dashboard-mp">
        {{ render(url('windows_bloc_entete')) }}
        <div class="dash-tab-links">
            <div class="container">
                <div class="mb-20">
                    <div class="row">
                        {{ include('default/bloc_gauche.html.twig') }}
                        <div class="col-lg-9 col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ include('user/_form.html.twig', {'button_label': 'form.btnUpdate'|trans}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-left">
                                    {{ include('user/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}