<div class="col-lg-3">
    <div class="row mb-5">
        <div class="col">
            <a href="{{ path('joti20') }}" target="_blank">
                <img src="{{ asset('assets/images/affiche/01.png') }}" alt="Joti edition spéciale" class="img-fluid" title="Cliquez pour participer au Joti 2020">
            </a>
            <p class="text-center d-block d-md-none">Cliquez sur l'image pour participer au Joti 2020</p>

        </div>
    </div>
    <div class="news-data-dash full-width">
        <div class="categories-left-heading">
            <h3>Autres activités</h3>
        </div>
        <div class="categories-items">
            {% for activite in activites|slice(0,3) %}
                <div class="news-item">
                    <div class="news-item-heading">
                        <i class="fas fa-hand-point-right"></i>
                        <h6>{{ activite.title}}</h6>
                    </div>
                    <div class="news-description">
                        {{ activite.description|slice(0,30)}}... <a href="{{ path('activite_show', {'id': activite.id}) }}">Http://zochi.com/activite</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>