{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Le scoutisme à la maison{% endblock %}

{% block body %}
    <div class="main wow fadeInDown">
        <section class="hero-equal-height pt-120 pb-100" style="background: url({{ absolute_url(asset('ressources/images/cover.svg')) }})no-repeat center center / cover">
            <div class="hero-bottom-shape-two" style="background: url({{ absolute_url(asset('ressources/images/cover-bottom.svg')) }})no-repeat bottom center"></div>
            <div class="shape1"><img src="{{ absolute_url(asset('ressources/images/logo/logo-ascci-645.svg')) }}" alt="shape" width="38"></div>
            <div class="shape3"><img src="{{ absolute_url(asset('ressources/images/logo/logo-omms-02.svg')) }}" alt="shape" width="65"></div>
            <div class="shape4"><img src="{{ absolute_url(asset('ressources/images/logo/logo-omms-02.svg')) }}" alt="shape" width="77"></div>
            <div class="shape5"><img src="{{ absolute_url(asset('ressources/images/logo/logo-omms.svg') )}}" alt="shape" width="36"></div>
            <div class="shape6 rotateme"><img src="{{ absolute_url(asset('ressources/images/logo/logo-ascci-645.svg')) }}" width="64" alt="shape"></div>
            <div class="shape7"><img src="{{ absolute_url(asset('ressources/images/logo/logo-ascci-645.svg')) }}" width="60" alt="shape"></div>
            <div class="shape8 rotateme"><img src="{{ absolute_url(asset('ressources/images/logo/logo-omms-02.svg')) }}" alt="shape" width="65"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <div class="hero-slider-content text-white z-index position-relative">
                            <h1 class="text-white">Le scoutisme à la maison <span>(ZOCHI)</span></h1>
                            <p class="lead">Adaptation des activités scoutes à travers des échanges et partages virtuels. </p>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="hero-animation-img">
                            <img src="{{ absolute_url(asset('ressources/images/logo/logo-scout-maison.svg')) }}" alt="hero" class="animation-one img-fluid custom-width">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="section-stat1">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center zochi-stat-bloc d-inline-flex justify-content-center">
                    <div class="zochi-stat orange align-items-baseline justify-content-between wow bounceInLeft">
                        <div class="mt">
                            <i class="fa fa-users fa-2x fa-sm"></i>
                            <h3 class="text-center count">{{ utilisateurs|length }}</h3>
                            <p>Utilisateurs</p>
                        </div>
                    </div>
                </div>
                <div class="col text-center zochi-stat-bloc d-inline-flex justify-content-center">
                    <div class="zochi-stat blanc align-items-baseline justify-content-between wow bounceInDown">
                        <div class="mt">
                            <i class="fa fa-file-alt fa-2x"></i>
                            <h3 class="text-center count">{{ nombre_activite|length }}</h3>
                            <p>Activités</p>
                        </div>
                    </div>
                </div>
                <div class="col text-center zochi-stat-bloc d-inline-flex justify-content-center">
                    <div class="zochi-stat vert align-items-baseline justify-content-between wow bounceInRight">
                        <div class="mt">
                            <i class="fa fa-comments fa-2x"></i>
                            <h3 class="text-center count">{{ nombre_commentaire|length }}</h3>
                            <p>Commentaires</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-sensibilisation ptb-120 gray-light-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="img-wrap">
                        <img src="{{ absolute_url(asset('ressources/images/recommendation.svg')) }}" alt="recommendation" class="img-fluid wow fadeInLeft">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="recommendation-content wow fadeInRight">
                        <h2>Mésures de prévention pour éviter le CORONAVIRUS</h2>
                        <p>Protégez-vous et protégez les autres en étant ‎informé des éléments essentiels et en prenant les ‎précautions adaptées. </p>
                        <ul class="check-list-info">
                            <li><strong>Restez chez vous</strong>, ne sortez qu'en cas de necessité</li>
                            <li><strong>Se lavez frequemment les mains</strong> à l'eau et au savon ou avec une solution hydroalcolique</li>
                            <li><strong>Se couvrir la bouche et le nez</strong> avec le pli du coude ou avec un mouchoir en cas de toux ou d'éternuement</li>
                            <li><strong>Ne pas toucher</strong> son nez, ses yeux, sa bouche</li>
                            <li><strong>Respectez la distance sociale d'un mètre</strong> partout où vous vous trouvez</li>
                            <li><strong>Evitez de se saluer</strong> en se serrant les mains ou en faisant les accolades</li>
                            <li><strong>Le port du masque </strong> est utile pour ne pas diffuser la maladie par les toux et éternuements, mais pour éviter de l'attraper</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-blog-section ptb-120 gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading text-white mb-5">
                        <h2 class="text-white">Nos jeunes en actions</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for activite in activites|slice(0,3) %}
                    <div class="col-md-4 wow bounceInUp">
                        <div class="activite-card card border-0 shadow-sm">
                            <span class="category position-absolute badge badge-pill badge-info">
                                <i class="fa fa-user"></i>   {{ activite.user.username|title}}
                            </span>
                            {% if (activite.mediaType == 'image') %}
                                <a href="{{ path('publication_show', {'id': activite.id}) }}">
                                    <img src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" alt="{{ activite.title }}" class="card-img-top position-relative">
                                </a>
                            {% else %}
                                <a href="{{ path('publication_show', {'id': activite.id}) }}">
                                    <video controls class="embed-responsive embed-responsive-16by9">
                                        <source src="{{ absolute_url(asset('upload/medias/' ~ activite.media)) }}" class="embed-responsive embed-responsive-16by9">
                                        Désolé la video ne peut pas être lue par votre navigateur
                                    </video>
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="h5 mb-2 card-title">
                                    <a href="{{ path('publication_show', {'id': activite.id}) }}" title="{{ activite.title }}">
                                        {% if activite.title|length > 27 %}
                                            {{ activite.title|slice(0,27)}}...
                                        {% else %}
                                            {{ activite.title}}
                                        {% endif %}
                                    </a>
                                </h3>
                                <div class="post-meta mb-2">
                                    <ul class="list-inline meta-list">
                                        <li class="list-inline-item">{{ activite.createdAt ? activite.createdAt|date('d/m/Y H:i:s') : ''}}</li>
                                        <li class="list-inline-item">
                                        {% if activite.commentaires|length < 2 %}
                                            <a href="{{ path('publication_show', {'id': activite.id}) }}#commentaires"><i class="far fa-comment"></i> {{ activite.commentaires|length }} commentaire</a>
                                        {% else %}
                                            <a href="{{ path('publication_show', {'id': activite.id}) }}#commentaires"><i class="far fa-comment"></i> {{ activite.commentaires|length }} commentaires</a>
                                        {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <p class="card-text text-justify">
                                    {% if activite.description|length > 100 %}
                                        {{ activite.description|slice(0,100)}}...
                                    {% else %}
                                        {{ activite.description|slice(0,100)}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-right articles-suite">
                    <a href="{{ path('v1_activite_index') }}">Voir toutes les videos</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-branche ptb-120">
        <div class="container">
            <div class="row">
                <div class="col text-left">
                    <h2>Les branches en chiffres</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="branche">
                        <div class="participant wow fadeInRight">
                            <div class="participant-icon"><span class="compteur count">{{ louveteaux|length }}</span></div>
                            <div class="participant-content">
                                <h3 class="title">Louveteau</h3>
                                <p class="description">Scout dont l'âge varie entre 6-11 ans</p>
                            </div>
                        </div>
                        <div class="participant wow fadeInLeft">
                            <div class="participant-icon"><span class="compteur count">{{ eclaireurs|length }}</span></div>
                            <div class="participant-content">
                                <h3 class="title">Eclaireur</h3>
                                <p class="description">Scout dont l'âge varie entre 12-14 ans</p>
                            </div>
                        </div>
                        <div class="participant wow fadeInRight">
                            <div class="participant-icon"><span class="compteur count">{{ cheminots|length }}</span></div>
                            <div class="participant-content">
                                <h3 class="title">Cheminot</h3>
                                <p class="description">Scout dont l'âge varie entre 15-17 ans</p>
                            </div>
                        </div>
                        <div class="participant wow fadeInLeft">
                            <div class="participant-icon"><span class="compteur count">{{ routiers|length }}</span></div>
                            <div class="participant-content">
                                <h3 class="title">Routier</h3>
                                <p class="description">Scout dont l'âge varie entre 18-21 ans</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-coronavirus ptb-120 d-none d-md-block">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>Vue d'ensemble des cas du Corona Virus (COVID-19) </h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="map-update-wrap position-relative">
                        <iframe  style="width: 100%" height="500" class="rounded shadow" src="https://coronavirus.app/map?embed=true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 text-center updated-text text-muted">
                    <p>* Survoler les cercles rouges si vous voulez voir les données</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/css/branche.css')) }}">
{% endblock %}