{% extends 'base.html.twig' %}

{% block title %}Liste des participants au JOTI 2020{% endblock %}

{% block body %}
    <main class="dashboard-mp">
        {{ render(url('windows_bloc_entete')) }}
        <div class="dash-tab-links">
            <div class="container">
                <div class="mb-20">
                    <div class="row">
                        {{ render(url('windows_bloc_gauche')) }}
                        <div class="col-lg-6">
                            <div class="main-posts">
                                <table id="participants" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Utilisateurs</td>
                                            <td>Dates</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for participant in participants %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-left"><a href="#">{{ participant.user }}</a></td>
                                            <td>{{ participant.date|date('Y-m-d H:i:s') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-5 mb-5">.</div>

                        </div>
                        {{ render(url('windows_bloc_droit')) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#participants').DataTable();
        } );
    </script>
{% endblock %}
