{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs sans profiles{% endblock %}

{% block body %}
    <main class="dashboard-mp">
        {{ render(url('windows_bloc_entete')) }}
        <div class="dash-tab-links">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('utilisateur_index') }}">Avec profile <span class="badge badge-alrts">{{utilisateurs|length}}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('user_index') }}">Sans profile <span class="badge badge-alrts">{{nombre|length}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dash-discussions mb20">
                    <div class="main-section">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-4 col-md-12">
                                    <form action="{{ path('user_search') }}" method="post">
                                        <div class="search-bar-main">
                                            <input type="text" name="_username" class="search-1" placeholder="Recherche d'utilisateur...." autocomplete="off">
                                            <i class="fas fa-search srch-ic"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="all-search-events">
                            <div class="row">
                                {% for user in users %}
                                    <div class="col-lg-3 col-md-6">
                                        <div class="user-data full-width">
                                            <div class="user-profile">
                                                <div class="userbg-dt dpbg-1" style="background-image:url({{ absolute_url(asset('assets/images/slider/slide-03.jpg')) }});">
                                                    <div class="usr-pic">
                                                        <img src="{{ asset('assets/images/avatar.png') }}"
                                                             alt="{{ user.username }}">
                                                    </div>
                                                </div>
                                                <div class="user-main-details">
                                                    <h4>{{ user.username|title}} </h4>
                                                    {{ user.utilisateur ? '<span class="text-success"><i class="fas fa-user"></i>profile</span>' : '<span class="text-success"><i class="fas fa-angry"></i></span>' }}

                                                </div>
                                                <ul class="follow-msg-dt">
                                                    <li>
                                                        <div class="msg-dt-sm">
                                                            <button class="msg-btn1">Message</button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="follow-dt-sm">
                                                            <button class="follow-btn1">Activités</button>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="profile-link">
                                                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier le pass</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="row justify-content-center wow bounceInDown mt-5 text-center">
                                <div class="col justify-content-sm-center">
                                    {{ knp_pagination_render(users)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
